<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid pt-3" *ngIf="product">
        <img src="{{ product.imageUrl}}" alt="" width="450px" height="350px">
        <div class="container-fluid ps-5">
            <h2>{{ product.name }}</h2>
            <div class="pt-2">
                <span><small>{{ product.unitPrice | currency:'INR' }}</small></span><br>

                <app-add-buttons
                    [product]="product">
                </app-add-buttons>
                
                <hr>
                <h3>Description</h3>
                <p>{{ product.desc }}</p> <br>
                <a routerLink="/category/{{ catId }}">Back to Product List</a>
            </div>
        </div>
    </div>
</body>
</html>