<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid header">
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid input-group ms-3">
                <a class="navbar-brand-lg mx-5" href="#">
                    <img src="/assets/images/SwayamLogoLight.png" alt="Logo" width="80" height="50">
                </a>
                <input type="search" class="form-control rounded ms-5" placeholder="Search for Products"
                #getProductsByNameInput
                (keyup)="getProductsByName(getProductsByNameInput.value)"
                />
                <button class="btn btn-success" type="submit"
                (onClick)="getProductsByName(getProductsByNameInput.value)"
                >Search</button>    
            </div>
        </nav>
    </div>
</body>
</html>