<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidebar col-md-2">
        <a href="/" class="text-white text-decoration-none">
            <p class="fs-4 ps-3 pt-3">Shop By<br> Category:</p>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item"
                *ngFor="let productCategory of productCategories">
                <a routerLink="/category/{{ productCategory.id }}" routerLinkActive="active-link" class="nav-link link-info" aria-current="page">{{ productCategory.categoryName }}</a>
            </li>
        </ul>
        <hr>
    </div>
</body>
</html>

