<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid border">
        <div class="row justify-content-evenly">
            <div class="col-md-3 col-sm-4 col-xs-12 d-flex flex-column my-5" *ngFor="let product of products" >
                    <img src="{{ product.imageUrl }}" class="product-img" alt="{{ product.name }}">
                    <p class="item-name">{{ product.name }}</p>
                    <div class="border-top pt-2">
                        <span><small>{{ product.unitPrice | currency:'INR' }}</small></span><br>
                        <a class="btn btn-add btn-sm mt-2">Add to Cart</a>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>