
.item-name {
    font-size: smaller;
    text-align: left;
    color: white;
    text-decoration: none;
}

.content {
    height: 90vh;
}

:host ::ng-deep .pagination > li.page-item.active > a.page-link > span {
    display: none;
}