
.item-name {
    font-size: smaller;
    text-align: left;
    color: white;
    text-decoration: none;
}

.btn-add {
    color: white;
    background-color: #112222;
}

.btn-add:hover {
    background-color: #111111;
}

.product-img {
    max-width: 70%;
    height: auto;
}

.content {
    height: 90vh;
}

:host ::ng-deep .pagination > li.page-item.active > a.page-link > span {
    display: none;
}

.qtyButtons {
    display: inline-block;
    color: white !important;
}