<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container border">
        <div class="row row-cols-5">
            <div 
            class="col"
            *ngFor="let product of products"
            >
                <div class="card" style="height: 100%">
                    <img src="{{ product.imageUrl }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <p class="card-text">{{ product.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>